<%@ Master Language="C#" AutoEventWireup="True" CodeBehind="Site.Master.cs" Inherits="WebApplication19.Layout.SiteMaster" %>

<!DOCTYPE html>
<html>
<head runat="server">
    <title>My Web Forms App</title>
    <!-- CSS global -->
    <link href="~/CSS/Main.css" rel="stylesheet" type="text/css" runat="server"/>
    
    <asp:ContentPlaceHolder ID="head" runat="server">
        <!-- Optional page-specific CSS or JS tags can be injected here -->
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <header id="globalHeader" runat="server">
            <nav id="globalNav" runat="server">Navegación</nav>
            <ul>
                <li><a href="~/vista/Home.aspx" runat="server">Inicio</a></li>
                <li><a href="~/vista/Canje.aspx" runat="server">Canje</a></li>
                <li><a href="~/vista/Centros.aspx" runat="server">Centros</a></li>
                <li><a href="~/vista/Materiales.aspx" runat="server">Materiales</a></li>
                <li><a href="~/vista/Recompensas.aspx" runat="server">Recompensas</a></li>
                <li><a href="~/vista/Registros.aspx" runat="server">Registros</a></li>
                <li><a href="~/vista/Usuarios.aspx" runat="server">Usuarios</a></li>
            </ul>
        </header>

        <main>
            <!-- Paginas aspx hijos inyectan aca para recibir la herencia -->
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
        </main>
    </form>
</body>
</html>
