USE [master]
GO
/****** Object:  Database [reciclaje_nacional]    Script Date: 8/21/2026 5:15:09 PM ******/
CREATE DATABASE [reciclaje_nacional]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'reciclaje_nacional', FILENAME = N'C:\Users\Wong\reciclaje_nacional.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'reciclaje_nacional_log', FILENAME = N'C:\Users\Wong\reciclaje_nacional_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [reciclaje_nacional].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [reciclaje_nacional]
GO
/****** Object:  Table [dbo].[canje]    Script Date: 8/21/2026 5:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[canje](
	[idcanje] [int] IDENTITY(1,1) NOT NULL,
	[idusuario] [int] NOT NULL,
	[idrecompensa] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[puntosutilizados] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idcanje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[centroreciclaje]    Script Date: 8/21/2026 5:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[centroreciclaje](
	[idcentro] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[provincia] [varchar](10) NOT NULL,
	[direccion] [varchar](200) NOT NULL,
	[horario] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idcentro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[material]    Script Date: 8/21/2026 5:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[material](
	[idmaterial] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](200) NULL,
	[puntosporkg] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idmaterial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recompensa]    Script Date: 8/21/2026 5:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recompensa](
	[idrecompensa] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](200) NULL,
	[puntosnecesarios] [int] NOT NULL,
	[cantidaddisponible] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idrecompensa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[registroreciclaje]    Script Date: 8/21/2026 5:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[registroreciclaje](
	[idregistro] [int] IDENTITY(1,1) NOT NULL,
	[idusuario] [int] NOT NULL,
	[idmaterial] [int] NOT NULL,
	[idcentro] [int] NOT NULL,
	[cantidadkg] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[puntosobtenidos] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idregistro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 8/21/2026 5:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[idusuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[correo] [varchar](100) NOT NULL,
	[provincia] [varchar](10) NULL,
	[puntos] [int] NOT NULL,
	[pwd] [varchar](64) NOT NULL,
	[rol] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idusuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[canje] ADD  DEFAULT ((1)) FOR [cantidad]
GO
ALTER TABLE [dbo].[usuario] ADD  CONSTRAINT [DF_usuario_provincia]  DEFAULT ('none') FOR [provincia]
GO
ALTER TABLE [dbo].[usuario] ADD  DEFAULT ((0)) FOR [puntos]
GO
ALTER TABLE [dbo].[usuario] ADD  CONSTRAINT [DF_usuario_rol]  DEFAULT ('user') FOR [rol]
GO
ALTER TABLE [dbo].[canje]  WITH CHECK ADD FOREIGN KEY([idrecompensa])
REFERENCES [dbo].[recompensa] ([idrecompensa])
GO
ALTER TABLE [dbo].[canje]  WITH CHECK ADD FOREIGN KEY([idusuario])
REFERENCES [dbo].[usuario] ([idusuario])
GO
ALTER TABLE [dbo].[registroreciclaje]  WITH CHECK ADD FOREIGN KEY([idcentro])
REFERENCES [dbo].[centroreciclaje] ([idcentro])
GO
ALTER TABLE [dbo].[registroreciclaje]  WITH CHECK ADD FOREIGN KEY([idmaterial])
REFERENCES [dbo].[material] ([idmaterial])
GO
ALTER TABLE [dbo].[registroreciclaje]  WITH CHECK ADD FOREIGN KEY([idusuario])
REFERENCES [dbo].[usuario] ([idusuario])
GO
/****** Object:  StoredProcedure [dbo].[AgregarCanje]    Script Date: 8/21/2026 5:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 1. AGREGAR CANJE (Valida stock, descuenta stock y descuenta puntos)
CREATE PROCEDURE [dbo].[AgregarCanje]
    @UsuarioID INT,
    @RecompensaID INT,
    @Fecha DATETIME,
    @PuntosUtilizados INT,
    @Cantidad INT -- Nueva variable
AS
BEGIN
    SET NOCOUNT ON;

    -- Validación de seguridad: Verificar si hay suficiente stock disponible
    DECLARE @StockActual INT;
    SELECT @StockActual = cantidaddisponible FROM recompensa WHERE idrecompensa = @RecompensaID;

    IF @StockActual < @Cantidad
    BEGIN
        RAISERROR('Error: No hay suficiente inventario disponible para esta recompensa.', 16, 1);
        RETURN;
    END;

    -- Guardamos el registro incluyendo la cantidad comprada
    INSERT INTO canje(idusuario, idrecompensa, fecha, puntosutilizados, cantidad)
    VALUES (@UsuarioID, @RecompensaID, @Fecha, @PuntosUtilizados, @Cantidad);

    -- Restamos los puntos del saldo del usuario
    UPDATE usuario
    SET puntos = puntos - @PuntosUtilizados 
    WHERE idusuario = @UsuarioID;

    -- CRUCIAL: Descontamos las unidades del inventario de la recompensa
    UPDATE recompensa
    SET cantidaddisponible = cantidaddisponible - @Cantidad
    WHERE idrecompensa = @RecompensaID;
END;

GO
/****** Object:  StoredProcedure [dbo].[AgregarCentro]    Script Date: 8/21/2026 5:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[AgregarCentro]
	@Nombre VARCHAR(100),
	@Provincia VARCHAR(10),
	@Direccion VARCHAR(200),
    @Horario VARCHAR(100)
AS
BEGIN
	SET NOCOUNT ON;

	insert into centroreciclaje(nombre, provincia, direccion, horario)
    values (@Nombre, @Provincia, @Direccion, @Horario);
end;
GO
/****** Object:  StoredProcedure [dbo].[AgregarMaterial]    Script Date: 8/21/2026 5:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AgregarMaterial]
	@Nombre VARCHAR(50),
	@Descripcion VARCHAR(200),
	@PuntosporKG decimal(10,2)
AS
BEGIN
	SET NOCOUNT ON;

	insert into material(nombre, descripcion, puntosporkg)
    values (@Nombre, @Descripcion, @PuntosporKG);
end;
GO
/****** Object:  StoredProcedure [dbo].[AgregarRecompensa]    Script Date: 8/21/2026 5:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
create procedure [dbo].[AgregarRecompensa]
	@Nombre VARCHAR(100),
	@Descripcion VARCHAR(200),
	@Puntos VARCHAR(25),
    @Cantidad VARCHAR(25)
AS
BEGIN
	SET NOCOUNT ON;

	insert into recompensa(nombre, descripcion, puntosnecesarios, cantidaddisponible)
    values (@Nombre, @Descripcion, @Puntos, @Cantidad);
end;
GO
/****** Object:  StoredProcedure [dbo].[AgregarRegistroReciclaje]    Script Date: 8/21/2026 5:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AgregarRegistroReciclaje]
    @UsuarioID INT,
    @MaterialID INT,
    @CentroID INT,
    @CantidadKg INT,
    @Fecha DATETIME, -- <-- Añadimos el nuevo parámetro
    @PuntosObtenidos INT
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. Guardamos el registro con sus puntos correspondientes
    INSERT INTO registroreciclaje (idusuario, idmaterial, idcentro, cantidadkg, fecha, puntosobtenidos)
    VALUES (@UsuarioID, @MaterialID, @CentroID, @CantidadKg, @Fecha, @PuntosObtenidos);

    -- 2. CRUCIAL: Sumamos estos nuevos puntos directamente al saldo del usuario
    UPDATE usuario
    SET puntos = puntos + @PuntosObtenidos -- Cambia 'puntos_acumulados' por tu columna real
    WHERE idusuario = @UsuarioID;
END;
GO
/****** Object:  StoredProcedure [dbo].[AgregarUsuario]    Script Date: 8/21/2026 5:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AgregarUsuario]
    @Nombre varchar(100),
    @Correo varchar(100),
    @Provincia varchar(10),
    @Pwd varchar(64) = NULL,
    @Rol VARCHAR(20) = 'user'
as
begin
    set nocount on;

    insert into usuario(nombre, correo, provincia, pwd, rol)
    values (@Nombre, @Correo, @Provincia, @Pwd, @Rol);
end;
GO
/****** Object:  StoredProcedure [dbo].[ConsultarCanje]    Script Date: 8/21/2026 5:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. CONSULTAR CANJE
CREATE PROCEDURE [dbo].[ConsultarCanje]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT idcanje, idusuario, idrecompensa, fecha, puntosutilizados, cantidad
    FROM canje;
END;

GO
/****** Object:  StoredProcedure [dbo].[ConsultarCanjeporID]    Script Date: 8/21/2026 5:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. CONSULTAR POR ID
CREATE PROCEDURE [dbo].[ConsultarCanjeporID]
    @CanjeID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT idcanje, idusuario, idrecompensa, fecha, puntosutilizados, cantidad
    FROM canje
    WHERE idcanje = @CanjeID;
END;

GO
/****** Object:  StoredProcedure [dbo].[ConsultarCentro]    Script Date: 8/21/2026 5:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[ConsultarCentro]
as
begin
    set nocount on;

    select idcentro, nombre, provincia, direccion, horario
    from centroreciclaje;
end;
GO
/****** Object:  StoredProcedure [dbo].[ConsultarCentroporID]    Script Date: 8/21/2026 5:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[ConsultarCentroporID]
    @CentroID int
as
begin
    set nocount on;

    select idcentro, nombre, provincia, direccion, horario
    from centroreciclaje
    where idcentro = @CentroID
end;
GO
/****** Object:  StoredProcedure [dbo].[ConsultarMaterial]    Script Date: 8/21/2026 5:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[ConsultarMaterial]
as
begin
    set nocount on;

    select idmaterial, nombre, descripcion, puntosporkg
    from material;
end;
GO
/****** Object:  StoredProcedure [dbo].[ConsultarMaterialporID]    Script Date: 8/21/2026 5:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[ConsultarMaterialporID]
    @MaterialID int
as
begin
    set nocount on;

    select idmaterial, nombre, descripcion, puntosporkg
    from material
    where idmaterial = @MaterialID
end;
GO
/****** Object:  StoredProcedure [dbo].[ConsultarRecompensa]    Script Date: 8/21/2026 5:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[ConsultarRecompensa]
as
begin
    set nocount on;

    select idrecompensa, nombre, descripcion, puntosnecesarios, cantidaddisponible
    from recompensa;
end;
GO
/****** Object:  StoredProcedure [dbo].[ConsultarRecompensaporID]    Script Date: 8/21/2026 5:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[ConsultarRecompensaporID]
    @RecompensaID int
as
begin
    set nocount on;

    select idrecompensa, nombre, descripcion, puntosnecesarios, cantidaddisponible
    from recompensa
    where idrecompensa = @RecompensaID
end;
GO
/****** Object:  StoredProcedure [dbo].[ConsultarRegistroReciclaje]    Script Date: 8/21/2026 5:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[ConsultarRegistroReciclaje]
as
begin
    set nocount on;

    select idregistro, idusuario, idmaterial, idcentro, cantidadkg, fecha, puntosobtenidos
    from registroreciclaje;
end;
GO
/****** Object:  StoredProcedure [dbo].[ConsultarRegistroReciclajeporID]    Script Date: 8/21/2026 5:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[ConsultarRegistroReciclajeporID]
    @RegistroID int
as
begin
    set nocount on;

    select idregistro, idusuario, idmaterial, idcentro, cantidadkg, fecha, puntosobtenidos
    from registroreciclaje
    where idregistro = @RegistroID
end;
GO
/****** Object:  StoredProcedure [dbo].[ConsultarUsuarioporID]    Script Date: 8/21/2026 5:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[ConsultarUsuarioporID]
    @UsuarioID int
as
begin
    set nocount on;

    select idusuario, nombre, correo, provincia, puntos, rol
    from usuario
    where idusuario = @UsuarioID;
end;
GO
/****** Object:  StoredProcedure [dbo].[ConsultarUsuarios]    Script Date: 8/21/2026 5:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[ConsultarUsuarios]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        idusuario,  -- Índice 0
        nombre,     -- Índice 1
        correo,     -- Índice 2
        provincia,  -- Índice 3
        puntos,     -- Índice 4
        rol         -- Índice 5 (Ocupa este lugar porque omitimos pwd)
    FROM 
        dbo.usuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[EliminarCanje]    Script Date: 8/21/2026 5:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. ELIMINAR CANJE (Devuelve los puntos al usuario y reabastece el stock)
CREATE PROCEDURE [dbo].[EliminarCanje]
    @CanjeID INT,
    @UsuarioID INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @PuntosDelRegistro INT;
    DECLARE @CantidadDelRegistro INT;
    DECLARE @RecompensaID INT;

    -- Obtenemos los datos clave antes de borrar la fila
    SELECT @PuntosDelRegistro = puntosutilizados,
           @CantidadDelRegistro = cantidad,
           @RecompensaID = idrecompensa
    FROM canje 
    WHERE idcanje = @CanjeID;

    -- Devolvemos los puntos al usuario
    UPDATE usuario
    SET puntos = puntos + @PuntosDelRegistro
    WHERE idusuario = @UsuarioID;

    -- CRUCIAL: Devolvemos las unidades canceladas al inventario de la recompensa
    UPDATE recompensa
    SET cantidaddisponible = cantidaddisponible + @CantidadDelRegistro
    WHERE idrecompensa = @RecompensaID;

    -- Eliminamos el registro físicamente
    DELETE FROM canje 
    WHERE idcanje = @CanjeID;
END;

GO
/****** Object:  StoredProcedure [dbo].[EliminarCentro]    Script Date: 8/21/2026 5:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[EliminarCentro]
    @CentroID int
as
begin
    set nocount on;

    delete from centroreciclaje
    where idcentro = @CentroID;
end;
GO
/****** Object:  StoredProcedure [dbo].[EliminarMaterial]    Script Date: 8/21/2026 5:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[EliminarMaterial]
    @MaterialID int
as
begin
    set nocount on;

    delete from material
    where idmaterial = @MaterialID;
end;
GO
/****** Object:  StoredProcedure [dbo].[EliminarRecompensa]    Script Date: 8/21/2026 5:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[EliminarRecompensa]
    @RecompensaID int
as
begin
    set nocount on;

    delete from recompensa
    where idrecompensa = @RecompensaID;
end;
GO
/****** Object:  StoredProcedure [dbo].[EliminarRegistroReciclaje]    Script Date: 8/21/2026 5:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EliminarRegistroReciclaje]
    @RegistroID INT,
    @UsuarioID INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @PuntosDelRegistro INT;

    -- 1. Obtenemos los puntos antes de borrar la fila
    SELECT @PuntosDelRegistro = puntosobtenidos 
    FROM registroreciclaje 
    WHERE idregistro = @RegistroID;

    -- 2. Restamos esos puntos directamente del saldo del usuario
    UPDATE usuario
    SET puntos = puntos - @PuntosDelRegistro
    WHERE idusuario = @UsuarioID;

    -- 3. Eliminamos el registro físicamente
    DELETE FROM registroreciclaje 
    WHERE idregistro = @RegistroID;
END;
GO
/****** Object:  StoredProcedure [dbo].[EliminarUsuario]    Script Date: 8/21/2026 5:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[EliminarUsuario]
    @UsuarioID int
as
begin
    set nocount on;

    delete from usuario
    where idusuario = @UsuarioID;
end;
GO
/****** Object:  StoredProcedure [dbo].[EliminarUsuarioPropio]    Script Date: 8/21/2026 5:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EliminarUsuarioPropio]
    @UsuarioID int,
    @Password VARCHAR(64)
as
begin
    set nocount on;

    delete from usuario
    where idusuario = @UsuarioID 
    AND pwd = @Password;
end;
GO
/****** Object:  StoredProcedure [dbo].[ModificarCanje]    Script Date: 8/21/2026 5:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. MODIFICAR CANJE (Ajusta dinámicamente puntos y stock)
CREATE PROCEDURE [dbo].[ModificarCanje]
    @CanjeID INT,
    @UsuarioID INT,
    @RecompensaID INT,
    @Fecha DATETIME,
    @PuntosUtilizados INT,
    @Cantidad INT -- Nueva variable
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @PuntosAnteriores INT;
    DECLARE @DiferenciaPuntos INT;
    DECLARE @CantidadAnterior INT;
    DECLARE @DiferenciaCantidad INT;

    -- Obtenemos los valores guardados antes de la edición
    SELECT @PuntosAnteriores = puntosutilizados,
           @CantidadAnterior = cantidad
    FROM canje
    WHERE idcanje = @CanjeID;

    -- Modificamos el registro con los nuevos datos
    UPDATE canje
    SET idusuario = @UsuarioID,
        idrecompensa = @RecompensaID,
        puntosutilizados = @PuntosUtilizados,
        fecha = @Fecha,
        cantidad = @Cantidad
    WHERE idcanje = @CanjeID;

    -- Balance de Puntos del Usuario
    SET @DiferenciaPuntos = @PuntosUtilizados - @PuntosAnteriores;
    UPDATE usuario
    SET puntos = puntos - @DiferenciaPuntos 
    WHERE idusuario = @UsuarioID;

    -- Balance de Inventario de la Recompensa
    -- Ejemplo: Llevó 2, lo edita a 3 -> Diferencia = +1 -> Se descuenta 1 más del stock
    -- Ejemplo: Llevó 2, lo edita a 1 -> Diferencia = -1 -> Se devuelve 1 al stock
    SET @DiferenciaCantidad = @Cantidad - @CantidadAnterior;
    UPDATE recompensa
    SET cantidaddisponible = cantidaddisponible - @DiferenciaCantidad
    WHERE idrecompensa = @RecompensaID;
END;

GO
/****** Object:  StoredProcedure [dbo].[ModificarCentro]    Script Date: 8/21/2026 5:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[ModificarCentro]
    @CentroID int,
    @Nombre varchar(100),
    @Provincia varchar(10),
    @Direccion varchar(200),
    @Horario varchar(100)
as
begin
    set nocount on;

    update centroreciclaje
    set nombre = @Nombre,
        provincia = @Provincia,
        direccion = @Direccion,
        horario = @Horario
    where idcentro = @CentroID;
end;
GO
/****** Object:  StoredProcedure [dbo].[ModificarMaterial]    Script Date: 8/21/2026 5:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[ModificarMaterial]
    @MaterialID int,
    @Nombre varchar(100),
    @Descripcion varchar(100),
    @PuntosporKG decimal(10,2)
as
begin
    set nocount on;

    update material
    set nombre = @Nombre,
        descripcion = @Descripcion,
        puntosporkg = @PuntosporKG
    where idmaterial = @MaterialID;
end;
GO
/****** Object:  StoredProcedure [dbo].[ModificarRecompensa]    Script Date: 8/21/2026 5:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[ModificarRecompensa]
    @RecompensaID int,
	@Nombre VARCHAR(100),
	@Descripcion VARCHAR(200),
	@Puntos VARCHAR(25),
    @Cantidad VARCHAR(25)
as
begin
    set nocount on;

    update recompensa
    set nombre = @Nombre,
        descripcion = @Descripcion,
        puntosnecesarios = @Puntos,
        cantidaddisponible = @Cantidad
    where idrecompensa = @RecompensaID;
end;
GO
/****** Object:  StoredProcedure [dbo].[ModificarRegistroReciclaje]    Script Date: 8/21/2026 5:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ModificarRegistroReciclaje]
    @RegistroID INT,
    @UsuarioID INT,
    @MaterialID INT,
    @CentroID INT,
    @CantidadKg INT,
    @Fecha DATETIME,
    @PuntosObtenidos INT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @PuntosAnteriores INT;
    DECLARE @DiferenciaPuntos INT;

    -- 1. Averiguamos cuántos puntos tenía el registro ANTES de ser editado
    SELECT @PuntosAnteriores = puntosobtenidos 
    FROM registroreciclaje 
    WHERE idregistro = @RegistroID;

    -- 2. Modificamos el registro específico con los nuevos datos de los Combos/TextBoxes
    UPDATE registroreciclaje
    SET idusuario = @UsuarioID,
        idmaterial = @MaterialID,
        idcentro = @CentroID,
        cantidadkg = @CantidadKg,
        puntosobtenidos = @PuntosObtenidos,
        fecha = @Fecha
    WHERE idregistro = @RegistroID;

    -- 3. Calculamos la diferencia matemática
    SET @DiferenciaPuntos = @PuntosObtenidos - @PuntosAnteriores;

    -- 4. Le pasamos la diferencia al usuario (puede sumar o restar automáticamente)
    UPDATE usuario
    SET puntos = puntos + @DiferenciaPuntos -- <-- Cambia 'puntos_acumulados' si tu columna se llama distinto
    WHERE idusuario = @UsuarioID;
END;
GO
/****** Object:  StoredProcedure [dbo].[ModificarUsuario]    Script Date: 8/21/2026 5:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[ModificarUsuario]
    @UsuarioID int,
    @Nombre varchar(100),
    @CorreoElectronico varchar(100),
    @Provincia varchar(10)
as
begin
    set nocount on;

    update usuario
    set Nombre = @Nombre,
        correo = @CorreoElectronico,
        provincia = @Provincia
    where idusuario = @UsuarioID;
end;
GO
/****** Object:  StoredProcedure [dbo].[sp_InyectarDatosPrueba]    Script Date: 8/21/2026 5:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InyectarDatosPrueba]
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        -- VARIABLES PARA CAPTURAR LOS IDENTITY GENERADOS AL MOMENTO
        DECLARE @IdCentro1 INT, @IdCentro2 INT;
        DECLARE @IdMat1 INT, @IdMat2 INT;
        DECLARE @IdRecompensa1 INT;
        DECLARE @IdUsuario1 INT, @IdUsuario2 INT;

        -- 1. Obtener los dos primeros usuarios existentes en el sistema
        SELECT TOP 1 @IdUsuario1 = idusuario FROM dbo.usuario ORDER BY idusuario ASC;
        SELECT TOP 1 @IdUsuario2 = idusuario FROM dbo.usuario WHERE idusuario > @IdUsuario1 ORDER BY idusuario ASC;

        -- Validación preventiva por si no hay usuarios creados
        IF (@IdUsuario1 IS NULL)
        BEGIN
            RAISERROR('Error: Debes tener al menos un usuario registrado en la tabla "dbo.usuario" antes de inyectar datos.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END;

        -- Si solo existe un usuario, usamos el mismo para todas las pruebas
        IF (@IdUsuario2 IS NULL) SET @IdUsuario2 = @IdUsuario1;

        -- 2. Inyectar Centros de Reciclaje y capturar sus IDs
        INSERT INTO dbo.centroreciclaje (nombre, provincia, direccion, horario) 
        VALUES ('EcoCentro Central', 'San José', 'Av 4, Calle 2', '8:00 AM - 5:00 PM');
        SET @IdCentro1 = SCOPE_IDENTITY();

        INSERT INTO dbo.centroreciclaje (nombre, provincia, direccion, horario) 
        VALUES ('ReciclaNorte', 'Heredia', '300m norte de la iglesia', '9:00 AM - 6:00 PM');
        SET @IdCentro2 = SCOPE_IDENTITY();

        -- 3. Inyectar Materiales y capturar sus IDs
        INSERT INTO dbo.material (nombre, descripcion, puntosporkg) 
        VALUES ('Plástico PET', 'Botellas de refresco transparentes', 10);
        SET @IdMat1 = SCOPE_IDENTITY();

        INSERT INTO dbo.material (nombre, descripcion, puntosporkg) 
        VALUES ('Aluminio', 'Latas de bebidas y refrescos', 25);
        SET @IdMat2 = SCOPE_IDENTITY();

        -- 4. Inyectar Recompensas y capturar su ID
        INSERT INTO dbo.recompensa (nombre, descripcion, puntosnecesarios, cantidaddisponible) 
        VALUES ('Descuento Supermercado', 'Cupón de 10% de descuento', 150, 50);
        SET @IdRecompensa1 = SCOPE_IDENTITY();

        -- 5. Inyectar Historial de Reciclaje usando las variables seguras
        INSERT INTO dbo.registroreciclaje (idusuario, idmaterial, idcentro, cantidadkg, fecha, puntosobtenidos) VALUES
        (@IdUsuario1, @IdMat1, @IdCentro1, 5, GETDATE(), 50),
        (@IdUsuario1, @IdMat2, @IdCentro1, 2, GETDATE(), 50),
        (@IdUsuario2, @IdMat1, @IdCentro2, 10, GETDATE(), 100);

        -- 6. Inyectar Canjes de Recompensas usando las variables seguras
        INSERT INTO dbo.canje (idusuario, idrecompensa, fecha, puntosutilizados, cantidad) VALUES
        (@IdUsuario1, @IdRecompensa1, GETDATE(), 150, 1),
        (@IdUsuario2, @IdRecompensa1, GETDATE(), 150, 1);

        COMMIT TRANSACTION;
        PRINT 'Datos de prueba (Mock Data) inyectados correctamente.';
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_LimpiarDatosPrueba]    Script Date: 8/21/2026 5:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LimpiarDatosPrueba]
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        -- 1. Borrar tablas con llaves foráneas primero
        DELETE FROM dbo.registroreciclaje;
        DELETE FROM dbo.canje;

        -- 2. Borrar tablas maestras (excepto usuario)
        DELETE FROM dbo.material;
        DELETE FROM dbo.centroreciclaje;
        DELETE FROM dbo.recompensa;

        -- 3. Reiniciar los contadores IDENTITY a 0 (el próximo insert será 1)
        DBCC CHECKIDENT ('dbo.registroreciclaje', RESEED, 0);
        DBCC CHECKIDENT ('dbo.canje', RESEED, 0);
        DBCC CHECKIDENT ('dbo.material', RESEED, 0);
        DBCC CHECKIDENT ('dbo.centroreciclaje', RESEED, 0);
        DBCC CHECKIDENT ('dbo.recompensa', RESEED, 0);

        COMMIT TRANSACTION;
        PRINT 'Limpieza completada con éxito. Tablas vacías y contadores reiniciados.';
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH;
END;

GO
/****** Object:  StoredProcedure [dbo].[ValidarLogin]    Script Date: 8/21/2026 5:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ValidarLogin]
    @Correo NVARCHAR(100)
AS
BEGIN
    -- Asegúrate de que la columna del rol (ej: Rol) esté explícitamente aquí
    SELECT idusuario, nombre, rol, pwd 
    FROM usuario
    WHERE Correo = @Correo
END
GO
USE [master]
GO
